<!--
SMART Sphinx Theme Header Template
==================================

Author: Akshay Mestry <xa@mes3.dev>
Created on: Friday, 21 February 2025
Last updated on: Tuesday, 19 August 2025
-->
<header
  class="sticky top-0 z-40 w-full border-border supports-backdrop-blur:bg-background/60 bg-background/95 backdrop-blur">
  {%- block header_before %}{% endblock header_before -%}
  <div class="container flex items-center h-14">
    {%- block header_left %}
    <div class="hidden mr-4 md:flex">
      {%- block website_logo %}
      <a href="{{ pathto(master_doc) }}" class="flex items-center">
        {%- if logo_url %}
        <img height="16" width="16" class="mr-2 dark:invert" src="{{ logo_url }}" alt="Logo" />
        {%- endif -%}
        {%- if dark_logo and not logo_url %}
        <img width="16" height="16" class="mr-2 hidden dark:block" src="{{ pathto('_static/' + dark_logo, 1) }}"
          alt="Logo" />
        {%- endif -%}
        {%- if light_logo and not logo_url %}
        <img width="16" height="16" class="mr-2 dark:hidden" src="{{ pathto('_static/' + light_logo, 1) }}"
          alt="Logo" />
        {%- endif -%}
        <span class="hidden font-bold sm:inline-block text-clip whitespace-nowrap">{{ docstitle }}</span>
      </a>
      {%- endblock website_logo %}
      {%- block header_main_nav %}
      {%- if theme_main_nav_links|tobool -%}
      <nav class="flex items-center space-x-6 text-sm font-medium">
        {%- for text,url in theme_main_nav_links.items() %}
        {%- set _active = "text-foreground" if pagename in url else "text-foreground/60" -%}
        {%- if url.startswith("http") %}
        <a href="{{ url }}" class="transition-colors hover:text-foreground/80 {{ _active }}" rel="noopener nofollow">{{
          text }}</a>
        {%- else %}
        <a href="{{ pathto(url) }}" class="transition-colors hover:text-foreground/80 {{ _active }}">{{ text }}</a>
        {%- endif %}
        {%- endfor %}
      </nav>
      {%- endif %}
      {%- endblock header_main_nav -%}
    </div>
    {%- endblock header_left %}
    {%- block mobile_menu %}
    {%- if sidebars|length >0 -%}
    <button
      class="inline-flex items-center justify-center h-10 px-0 py-2 mr-2 text-base font-medium transition-colors rounded-md hover:text-accent-foreground hover:bg-transparent md:hidden"
      type="button" @click="showSidebar = true" data-sidebar-toggle>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor" aria-hidden="true"><path d="M11.28 9.53 8.81 12l2.47 2.47a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-3-3a.75.75 0 0 1 0-1.06l3-3a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734Z"></path><path d="M3.75 2h16.5c.966 0 1.75.784 1.75 1.75v16.5A1.75 1.75 0 0 1 20.25 22H3.75A1.75 1.75 0 0 1 2 20.25V3.75C2 2.784 2.784 2 3.75 2ZM3.5 3.75v16.5c0 .138.112.25.25.25H15v-17H3.75a.25.25 0 0 0-.25.25Zm13 16.75h3.75a.25.25 0 0 0 .25-.25V3.75a.25.25 0 0 0-.25-.25H16.5Z"></path></svg>
      <span class="sr-only">Toggle navigation menu</span>
    </button>
    {%- endif -%}
    {%- endblock mobile_menu %}
    {%- block header_right %}
    <div class="flex items-center justify-between space-x-2 sm:space-x-4 mx-auto">
    {%- if docsearch or hasdoc('search') %}
      {%- include "searchbox.html.jinja" %}
    {%- endif %}
    </div>
    <div class="mr-4" style="padding-left: 0.5rem; margin-bottom: 0.5rem;">
      <button @click="darkMode = darkMode === 'light' ? 'dark' : 'light'" aria-label="Color theme switcher"
        class="relative inline-flex items-center justify-center px-0 text-sm font-medium transition-colors rounded-md hover:bg-accent hover:text-accent-foreground"
        type="button">
        <i class="fa-solid fa-circle-half-stroke absolute transition-all scale-100 rotate-0"></i>
        <i class="fa-solid fa-circle-half-stroke absolute transition-all scale-0 rotate-90"></i>
      </button>
    </div>
    {%- block extra_header_link_icons %}
    <div>
      <nav class="flex items-center space-x-1">
        {%- if theme_extra_header_link_icons|tobool %}
        {%- for text,url in theme_extra_header_link_icons.items() %}
        {%- if url is mapping %}
        <a href="{{ url.link }}" title="Visit {{ text }}" rel="noopener nofollow">
          <div
            class="inline-flex items-center justify-center px-0 text-sm font-medium transition-colors rounded-md disabled:opacity-50 disabled:pointer-events-none hover:bg-accent hover:text-accent-foreground h-9 w-9">
            {{ url.icon }}
          </div>
        </a>
        {% endif %}
        {%- endfor %}
        {%- endif %}
      </nav>
    </div>
    {%- endblock extra_header_link_icons %}
    {%- endblock header_right %}
  </div>
  {%- block header_after %}{%- endblock header_after %}
</header>
