<!--
SMART Sphinx Theme Previous and Next Page Buttons Template
==========================================================

Author: Akshay Mestry <xa@mes3.dev>
Created on: Friday, 21 February 2025
Last updated on: Friday, 8 August 2025
-->
<div class="flex items-center pt-6 mt-12 gap-2 justify-center">
  {%- if prev %}
  <div>
    <a href="{{ prev.link|e }}"
      class="inline-flex items-center justify-center rounded-lg text-sm font-medium transition-colors hover:bg-accent hover:text-accent-foreground p-2 prev-next">
      <i class="fa-solid fa-arrow-left"></i>
    </a>
  </div>
  {%- endif %}
  {%- if next %}
  <div>
    <a href="{{ next.link|e }}"
      class="inline-flex items-center justify-center rounded-lg text-sm font-medium transition-colors hover:bg-accent hover:text-accent-foreground p-2 prev-next">
      <i class="fa-solid fa-arrow-right"></i>
    </a>
  </div>
  {%- endif %}
  {%- if theme_show_scrolltop|tobool %}
    {%- include "scrolltop.html.jinja" %}
  {%- endif %}
</div>
