<!--
SMART Sphinx Theme Searchbox Template
=====================================

Author: Akshay Mestry <xa@mes3.dev>
Created on: Friday, February 21 2025
Last updated on: Wednesday, February 26 2025
-->
<form id="smart-search" action="{{ pathto('search') }}" method="get" class="relative flex items-center group"
  @keydown.k.window.meta="$refs.search.focus()">
  <input x-ref="search" name="q" id="search-input" type="search" aria-label="Search the docs"
    placeholder="{{ _('Search the site') }}"
    class="inline-flex items-center font-medium transition-colors bg-transparent focus-visible:outline-none border border-input hover:bg-accent focus:bg-accent hover:text-accent-foreground focus:text-accent-foreground py-2 px-4 relative h-9 w-full justify-start rounded-lg text-sm text-muted-foreground sm:pr-12 md:w-40 lg:w-64" />
  <kbd
    class="pointer-events-none absolute right-4 top-2 hidden h-5 select-none text-muted-foreground items-center gap-1 rounded border border-border bg-muted px-1.5 font-mono text-[10px] font-medium opacity-100 sm:flex group-hover:bg-accent group-hover:text-accent-foreground">
    <span class="text-xs">⌘</span>
    K
  </kbd>
</form>
