<!--
SMART Sphinx Theme Primary ToC Sidebar Template
===============================================

Author: Akshay Mestry <xa@mes3.dev>
Created on: Friday, 21 February 2025
Last updated on: Tuesday, 19 August 2025
-->
{%- set only_main_nav = sidebars == ["sidebar_main_nav_links.html.jinja"] -%}
{%- if not only_main_nav and sidebars|length > 0 -%}
<aside id="left-sidebar"
  class="fixed inset-y-0 left-0 md:top-14 z-50 md:z-30 bg-background md:bg-transparent transition-all duration-100 -translate-x-full md:translate-x-0 ml-0 p-6 md:p-0 md:-ml-2 md:h-[calc(100vh-3.5rem)] w-5/6 md:w-full shrink-0 overflow-y-auto md:sticky"
  :aria-hidden="!showSidebar" :class="{ 'translate-x-0': showSidebar }">
  {%- else %}
  <aside id="left-sidebar"
    class="fixed inset-y-0 left-0 md:hidden z-50 bg-background transition-all duration-100 -translate-x-full ml-0 p-6 w-5/6 shrink-0 overflow-y-auto"
    :aria-hidden="!showSidebar" :class="{ 'translate-x-0': showSidebar }">
    {%- endif %}
    <a href="{{ pathto(master_doc) }}" class="!justify-start text-sm md:!hidden bg-background">
      {%- if logo_url %}
      <img height="16" width="16" class="mr-2 dark:invert" src="{{ logo_url }}" alt="Logo" />
      {%- endif -%}
      {%- if dark_logo and not logo_url %}
      <img width="16" height="16" class="mr-2 hidden dark:block" src="{{ pathto('_static/' + dark_logo, 1) }}"
        alt="Logo" />
      {%- endif -%}
      {%- if light_logo and not logo_url %}
      <img width="16" height="16" class="mr-2 dark:hidden" src="{{ pathto('_static/' + light_logo, 1) }}" alt="Logo" />
      {%- endif -%}
      <span class="font-bold text-clip whitespace-nowrap">{{ docstitle }}</span>
    </a>
    <div class="relative overflow-hidden md:overflow-auto my-4 md:my-0 h-[calc(100vh-8rem)] md:h-auto">
      <div class="overflow-y-auto h-full w-full relative">
        {%- for section in sidebars %}
        {%- include section %}
        {%- endfor %}
      </div>
    </div>
    <button type="button" @click="showSidebar = false" data-sidebar-close
      class="absolute md:hidden top-4 mt-2 rounded-sm opacity-100 text-xl" style="top: 0.9rem;">
      <i class="fa-light fa-sidebar-flip"></i>
    </button>
  </aside>
