<!--
SMART Sphinx Theme Header/Navigation Bar Template
=================================================

Author: Akshay Mestry <xa@mes3.dev>
Created on: 21 February, 2025
Last updated on: 20 October, 2025
-->
{%- if sidebar_urls|tobool -%}
    <nav class="site-sidebar__mobile-links">
        <ul class="site-sidebar__mobile-list">
            {%- for text,url in sidebar_urls.items() %}
                <li class="site-sidebar__mobile-item">
                    {%- if url.startswith("http") %}
                        <a class="site-sidebar__mobile-link"
                           href="{{ url }}"
                           rel="nofollow noopener">{{ text }}</a>
                    {%- else %}
                        <a class="site-sidebar__mobile-link"
                           href="{{ pathto(url) }}">{{ text }}</a>
                    {%- endif %}
                </li>
            {%- endfor %}
        </ul>
    </nav>
{%- endif %}
