<!--
SMART Sphinx Theme Primary ToC Sidebar Template
===============================================

Author: Akshay Mestry <xa@mes3.dev>
Created on: Friday, 21 February 2025
Last updated on: Saturday, 16 August 2025
-->
{%- set only_main_nav = sidebars == ["sidebar_main_nav_links.html.jinja"] -%}
{%- if not only_main_nav and sidebars|length > 0 -%}
<aside id="left-sidebar"
  class="fixed inset-y-0 left-0 md:top-14 z-50 md:z-30 bg-background md:bg-transparent transition-all duration-100 -translate-x-full md:translate-x-0 ml-0 p-6 md:p-0 md:-ml-2 md:h-[calc(100vh-3.5rem)] w-5/6 md:w-full shrink-0 overflow-y-auto md:sticky"
  :aria-hidden="!showSidebar" :class="{ 'translate-x-0': showSidebar }">
  {%- else %}
  <aside id="left-sidebar"
    class="fixed inset-y-0 left-0 md:hidden z-50 bg-background transition-all duration-100 -translate-x-full ml-0 p-6 w-5/6 shrink-0 overflow-y-auto"
    :aria-hidden="!showSidebar" :class="{ 'translate-x-0': showSidebar }">
    {%- endif %}
    <a href="{{ pathto(master_doc) }}" class="!justify-start text-sm md:!hidden bg-background">
      {%- if logo_url %}
      <img height="16" width="16" class="mr-2 dark:invert" src="{{ logo_url }}" alt="Logo" />
      {%- endif -%}
      {%- if dark_logo and not logo_url %}
      <img width="16" height="16" class="mr-2 hidden dark:block" src="{{ pathto('_static/' + dark_logo, 1) }}"
        alt="Logo" />
      {%- endif -%}
      {%- if light_logo and not logo_url %}
      <img width="16" height="16" class="mr-2 dark:hidden" src="{{ pathto('_static/' + light_logo, 1) }}" alt="Logo" />
      {%- endif -%}
      <span class="font-bold text-clip whitespace-nowrap">{{ docstitle }}</span>
    </a>
    <div class="relative overflow-hidden md:overflow-auto my-4 md:my-0 h-[calc(100vh-8rem)] md:h-auto">
      <div class="overflow-y-auto h-full w-full relative">
        {%- for section in sidebars %}
        {%- include section %}
        {%- endfor %}
      </div>
    </div>
    <button type="button" @click="showSidebar = false" data-sidebar-close
      class="absolute md:hidden top-4 mt-2 rounded-sm opacity-100" style="top: 1.3rem;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor" aria-hidden="true"><path d="M7.22 14.47 9.69 12 7.22 9.53a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215l3 3a.75.75 0 0 1 0 1.06l-3 3a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Z"></path><path d="M3.75 2h16.5c.966 0 1.75.784 1.75 1.75v16.5A1.75 1.75 0 0 1 20.25 22H3.75A1.75 1.75 0 0 1 2 20.25V3.75C2 2.784 2.784 2 3.75 2ZM3.5 3.75v16.5c0 .138.112.25.25.25H15v-17H3.75a.25.25 0 0 0-.25.25Zm13 16.75h3.75a.25.25 0 0 0 .25-.25V3.75a.25.25 0 0 0-.25-.25H16.5Z"></path></svg>
    </button>
  </aside>
