<!--
SMART Sphinx Theme Scrollspy ToC Template
=========================================

Author: Akshay Mestry <xa@mes3.dev>
Created on: Friday, 21 February 2025
Last updated on: Sunday, 7 September 2025
-->
<aside id="right-sidebar" class="text-sm sidebar-sticky overflow-y-auto pt-6 space-y-2">
  {%- block toc_before %}{%- endblock -%}
  {% if toc.strip() %}
  <p class="font-medium">On this page</p>
  {{ toc }}
  {% endif %}
  {%- block toc_after %}{%- endblock -%}
</aside>
