<!--
SMART Sphinx Theme YouTube Template
===================================

Author: Akshay Mestry <xa@mes3.dev>
Created on: Saturday, February 22 2025
Last updated on: Thursday, August 07 2025
-->
{% block youtube %}
<div class="flex justify-center my-8">
  <div class="w-full">
    <div class="relative w-full" style="padding-bottom: 56.25%;">
      <iframe class="absolute top-0 left-0 w-full h-full rounded-[0.5rem]" 
        src="{{ url }}&controls=1&modestbranding=1" 
        title="YouTube"
        frameborder="0" 
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
      {%- if caption %}
        <figcaption class="mt-4">{{ caption }}</figcaption>
      {%- endif -%}
  </div>
</div>
{% endblock youtube %}
